<div id="<%= dom_id user %>">
  <p>
    <strong>Nick name:</strong>
    <%= user.nickname %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= user.level %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= user.kind %>
  </p>

</div>
