<h1>Show</h1>
<p><strong>ID:</strong> <%= @weapon.id %></p>
<p><strong>Título:</strong> <%= @weapon.name %></p>
<p><strong>Texto:</strong> <%= @weapon.description %></p>
<%= link_to “Voltar”, weapon_path %>
